
//colores
$White : #fff;
$Platinum : #e8e8e8;
$Gray : #bababa;

$DarkSalmon : #ee9480;
$Melon : #f4baae;
$PalePink : #fadfda;

$BallBlue : #2ab7ca;
$MiddleBlue : #77d1dd;
$BlueLagoon : #b1e4eb;

$Onyx : #333745;
$SpanishGray : #8f9199;
$LavenderGray : #c7c8cc;

$RaisingBlack : #221d23;
$Nickel : #726f73;
$SilverChalice : #aeacaf;


//Typografphy

//font-family
$raleway: 'Raleway', sans-serif;
$openSans:'Open Sans', sans-serif;

$bold:700;
$regular:400;


//Font Size
$xxxxx-large:50px;
$xxxx-large:45px;
$xxx-large:40px;
$xx-large:35px;
$x-large:30px;
$large:20px;
$medium:16px;
$small:14px;
$x-small:12px;